# ==========================================
# BuzGoo API - Git Ignore
# ==========================================


# ------------------------------------------
# Dependencies
# ------------------------------------------

node_modules/


# ------------------------------------------
# Environment Variables
# ------------------------------------------

config.env
.env
.env.*
!.env.example



# ------------------------------------------
# Logs
# ------------------------------------------

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*


# ------------------------------------------
# Runtime Data
# ------------------------------------------

*.pid
*.pid.lock
*.seed


# ------------------------------------------
# Testing & Coverage
# ------------------------------------------

coverage/
.nyc_output/
*.lcov


# ------------------------------------------
# ESLint
# ------------------------------------------

.eslintcache


# ------------------------------------------
# Prettier
# ------------------------------------------

.prettier-cache


# ------------------------------------------
# Build / Distribution
# ------------------------------------------

dist/
build/


# ------------------------------------------
# TypeScript
# ------------------------------------------

*.tsbuildinfo


# ------------------------------------------
# npm
# ------------------------------------------

.npm/
*.tgz


# ------------------------------------------
# macOS
# ------------------------------------------

.DS_Store
.AppleDouble
.LSOverride
._*


# ------------------------------------------
# VS Code
# ------------------------------------------

.vscode/


# ------------------------------------------
# JetBrains IDEs
# ------------------------------------------

.idea/
*.iml


# ------------------------------------------
# Temporary Files
# ------------------------------------------

*.tmp
*.temp
*.swp
*.swo
*~


# ------------------------------------------
# OS / Editor Files
# ------------------------------------------

Thumbs.db
Desktop.ini